body{
    background-image: url(../pic/food/pexels-fwstudio-172277.png);
}
button{
    position: fixed;
    top: 0;
    margin: 30px 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: rgb(122, 110, 91);
    cursor: pointer;
}
.desk{
    max-width: 1200px;
    margin: auto;
    margin-top: 140px;
}
[class^=roll]{
    display: flex;
    align-items: center;
}
.roll1,
.roll4{
    justify-content: center;
}
.roll1>img+img{
    margin-left: 200px;
}
.roll2{
    justify-content: flex-end;
}
.roll2>img+img,
.roll3>img+img,
.roll4>img+img{
    margin-left: 100px;
}
.roll3{
    justify-content: flex-start;
}
.items{
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.items>img{
    width: 70px;
    cursor: pointer;
}
.items>img+img{
    margin-left: 20px;
}