<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="css Anima練習">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>12星座</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/constellations.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- 開場 -->
        <div class="startMask" v-if="cloudGo">
            <img class="runCloud" src="pic/Constellations/cloud1.png">
            <img class="star" src="pic/Constellations/star.png" @click="startCheck">
        </div>
    
        <div class="mask">
            <img class="bg" src="pic/Constellations/space.png">
            <img class="starWheel" src="pic/Constellations/starWheel.png">    
            
            <form v-show="formShow">
                <label for="month">選擇出生月份</label>
                <select name="month" id="" v-model="theMonth">
                    <option v-for="(month, index) in months" :value="index">{{month}}月</option>
                </select>
                <label for="date">選擇出生日期</label>
                <select name="date" id="" v-model="theDate">
                    <option v-for="(date, index) in theDates" :value="index+1">{{index+1}}日</option>
                </select>
                <button type="button" @click="theConstellationIs">查詢</button>
            </form>
            <section>
                <p>{{theConstellation}}</p>
            </section>
        </div>   
    </div>

    <script src="js/constellationsVue.js"></script>
</body>
</html>